html,body{
  -webkit-overflow-scrolling:auto;-webkit-tap-highlight-color: transparent;
}
/**防止ios输入框无法输入***/
*:not(input,textarea) {
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
